@page
@model HW_01_Eurich_Kapitonova.Pages.Party.PersonAddressesPage
@using HW_01_Eurich_Kapitonova.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
    @Html.MyEditorFor(x=>x.Item.ID)
    <partial name = "_EditPersonAddress" />
</body>