@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to E-Library</h1>
    <h5> "No matter how old you are, there is nothing better than a good book in your hands."</h5>
    <img src="/images/Books.png"/>
</div>
